<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Haiku</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

      <form action="new-user" method="post">
        <label for="name">Name:</label>
        <br>
        <input type="text" name="name" id="name" value="" tabindex="1" />
        <br>
        <br>
        <label for="name">Email:</label>
        <br>
        <input type="text" name="email" id="email" value="" tabindex="1" />
        <br>
        <br>
        <label for="name">Password:</label>
        <br>
        <input type="password" name="password" id="password" value="" tabindex="1" />
        <br>
        <br>
        <input type="submit" value="Submit" class="button" />
      </form>
</body>
</html>
